/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* Base16 color components - Gruvbox Dark Medium */
    /* Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox) */
    /* ---- */
    --color-base00: #282828;
    /* --- */
    --color-base01: #3c3836;
    /* -- */
    --color-base02: #504945;
    /* - */
    --color-base03: #665c54;
    /* + */
    --color-base04: #bdae93;
    /* ++ */
    --color-base05: #d5c4a1;
    /* +++ */
    --color-base06: #ebdbb2;
    /* ++++ */
    --color-base07: #fbf1c7;
    /* red */
    --color-base08: #fb4934;
    /* orange */
    --color-base09: #fe8019;
    /* yellow */
    --color-base0A: #fabd2f;
    /* green */
    --color-base0B: #b8bb26;
    /* aqua/cyan */
    --color-base0C: #8ec07c;
    /* blue */
    --color-base0D: #83a598;
    /* purple */
    --color-base0E: #d3869b;
    /* brown */
    --color-base0F: #d65d0e;

    /* breakpoints */
    /* these don't work there just so you can easily find and replace */
    --bp-medium: 667px;
    --bp-large: 1024px;

    /* max-width */
    --max-width: 1620px;

    @media only screen and (min-width: 1024px) {
        --nav-height: 100px;
    }

    /* spaces */
    --space-small: 10px;
    --space-medium: 25px;
    --space-large: 35px;

    @media only screen and (min-width: 667px) {
        --space-small: 25px;
        --space-medium: 50px;
        --space-large: 75px
    }

    @media only screen and (min-width: 1024px) {
        --space-small: 50px;
        --space-medium: 100px;
        --space-large: 150px;
    }

    /* gaps */
    --gap-small: 8px;
    --gap-medium: 16px;
    --gap-large: 32px;

    /* font-sizes */
    --font-size-base: 16px;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;

    /* border */
    --border-width: 2px;
    --border-radius: var(--gap-small);
}

html {
    overflow-x: hidden;
}

::-moz-selection {
    background-color: var(--color-base03);
}

::selection {
    background-color: var(--color-base03);
}

::-webkit-scrollbar {
    width: var(--gap-small);
    height: var(--gap-small);
}

::-webkit-scrollbar-track {
    background: var(--color-medium);
}

::-webkit-scrollbar-thumb {
    background: var(--color-medium-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-base05);
}

/* body */
body {
    font-family: "JetBrains Mono", monospace;
    line-height: 1.5em;
    font-size: var(--font-size-base);
    font-weight: 200;
    background-color: var(--color-base00);
    color: var(--color-base05);
}

/* navigation */
nav {
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--color-base03);
    position: relative;
    padding: var(--gap-medium);
}

nav:hover {
    border-color: var(--color-base0B);
}

nav::before {
    content: "/* navigation */";
    position: absolute;
    bottom: 100%;
    transform: translateY(50%);
    line-height: 1em;
    padding: 0 var(--gap-small);
    color: var(--color-base03);
    background-color: var(--color-base00);
}

nav:hover::before {
    color: var(--color-base05);

}

nav>ul {
    margin: 0;
}

nav label {
    cursor: pointer;
    color: var(--color-base0E);
}

nav label::before {
    content: "#";
}

nav li:has(label)::before,
nav li:first-of-type:has(label)::before,
nav li:last-of-type:has(label)::before {
    content: unset;
}

nav input[type="checkbox"] {
    display: none;
}

nav input[type="checkbox"]~div {
    display: none;
}

nav input[type="checkbox"]:checked~div {
    display: unset;
}

/* sementic sections */
header,
main,
footer {
    max-width: var(--max-width);
    display: block;
    padding: var(--space-small) var(--space-medium);
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: var(--space-large);
}

*:has(>aside) {
    gap: var(--gap-medium);
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1024px) {
        gap: var(--gap-large);
        flex-direction: row;
    }
}

*:has(>aside)>*:not(aside) {
    @media only screen and (min-width: 1024px) {
        flex-basis: 66.66%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

aside {
    @media only screen and (min-width: 1024px) {
        flex-basis: 33.33%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

footer {
    background-color: var(--color-base00-color);
}

section {
    padding: var(--space-small) 0;
}

article {
    max-width: 1024px;
}

table {
    width: 100%;
    border-radius: var(--border-radius-small);
    border-spacing: 0;
    overflow: hidden;
}

table thead th {
    font-weight: 700;
    background-color: var(--color-medium);
    padding: var(--gap-small);
    text-align: left;
}

table tbody td {
    font-weight: 200;
    padding: var(--gap-small);
}

table tbody tr:nth-of-type(odd) {
    background-color: var(--color-medium-light);
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-base0B);
    font-size: var(--font-size-large);
    font-weight: 700;
    margin-top: var(--space-small);
    margin-bottom: var(--gap-medium);
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {}

h1 {
    margin-top: 0;
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

h4::before {
    content: "#### ";
}

h5::before {
    content: "##### ";
}

h6::before {
    content: "###### ";
}


p {
    display: block;
    font-size: var(--font-size-medium);
    color: var(--color-base05);
    margin-bottom: var(--gap-medium);
}

article p {
    hyphens: auto;
    text-align: justify;
}

ul,
ol {
    margin-left: var(--gap-large);
    margin-bottom: var(--gap-medium);
}

ol li,
ul li {
    position: relative;
    list-style-type: none;
}

ul li::before {
    content: "├─";
    position: absolute;
    left: calc(-1 * var(--gap-small));
    transform: translateX(-100%);
}

ul li:last-of-type::before {
    content: "└─";
}

ol {
    counter-reset: item;
}

ol li::before {
    content: "[" counter(item) "]";
    position: absolute;
    left: calc(-1 * var(--gap-small));
    counter-increment: item;
    transform: translateX(-100%);
    color: var(--color-base09);
}

ol li:first-of-type::before {
    /* start counting by 0 */
    counter-increment: none;
}

/* media */
img,
video {
    box-shadow: var(--elevation-1);
    border: var(--border-width) solid var(--color-base05);
    border-radius: var(--border-radius);
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: var(--spacing-small);
}

pre {
    border: var(--border-width) solid var(--color-base05);
    border-radius: var(--border-radius);
    page-break-inside: avoid;
    word-wrap: break-word;
    padding: var(--gap-medium);
    white-space: pre-wrap;
    background-color: var(--color-base01);
}

pre code {
    padding: 0;
}

code {
    border-radius: var(--border-radius);
    padding: calc(var(--gap-small)/4) var(--gap-small);
    background-color: var(--color-base01);
}

/* links */
a {
    color: var(--color-base0D);
    text-decoration: underline;
    transition: var(--transition-fast);
}

a:hover,
a:focus {
    color: var(--color-base0C);
    text-decoration: none;
}

a:active {
    color: var(--color-base0E);
    text-decoration: none;
}


/* buttons */
button,
input[type="submit"] {
    border: none;
    border-radius: var(--border-radius-large);
    box-shadow: var(--elevation-1);
    cursor: pointer;
    background-color: var(--color-base0D);
    color: var(--color-base00);
    padding: var(--gap-small) var(--gap-medium);
    font-size: var(--font-size-medium);
    transition: var(--transition-fast);
}

button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
    box-shadow: var(--elevation-2);
    background-color: var(--color-base0C);
}

button:active,
input[type="submit"]:active {
    box-shadow: var(--elevation-2);
    background-color: var(--color-base0E)
}
